@charset "UTF-8";
#advs {
    z-index: 2016;
    position: absolute;
    top: 5rem;
    width: 0;
    padding-bottom: 4rem;
    color: #333 !important;
    font-size: 100%;
    background-color: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 10px #b4b4b4;
    -moz-box-shadow: 0 0 10px #b4b4b4;
    box-shadow: 0 0 10px #b4b4b4;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#advs.active {
    padding-left: 15px;
    opacity: 0.98;
    width: 920px;
}

#advs h3 {
    zoom: 1;
    margin-top: 23px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    color: #333;
}

#advs .advs-controls {
    position: absolute;
    top: 8px;
    right: 8px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

#advs .text-button {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: normal;
    border: none;
    background: none;
    color: #7A7A7A;
}