@charset "UTF-8";
/*
#6db33f → hsla(96,48%,47%,1)，绿色
#3f404d → hsla(236,10%, 27%,1)，nav色
#3f4657 → hsla(223, 16%, 29%, 1)，dark背景色
#452525 → ，hsla(0, 30%, 21%, 1)，light背景色
*/
.tmp-hide {
    display: none;
}

hr {
    margin-top: .5rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0;
    border-bottom: 1px solid #3f404d;
    border-top: 0;
}

/* 显示search form */
nav #search_form {
    display: inline-block;
}

/*-------go to map----------*/
.to-map {
    z-index: 9999;
    position: fixed;
    top: 7rem;
    right: 5rem;
    font-size: 1.2em;
    color: #228DFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.to-map:hover {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

a.to-map:hover {
    color: #fff;
}

/*glow for webkit*/
@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #228DFF,
        0 0 70px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

/*glow for mozilla*/

@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #228DFF,
        0 0 70px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

/*glow*/
@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #228DFF,
        0 0 70px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

/********************* Aggregation ************************/
.aggregation {
    position: fixed;
    margin-left: 1rem;
    float: left;
    width: 16rem;
    border-right: 1px solid #3f404d;
}

.aggregation > div.panel.panel-default {
    display: none;
}
.aggregation .panel-default h4 {
    color: #eee;
}

.aggregation .panel-default h4 a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px hsla(96, 48%, 47%, 1);
}

.aggregation .panel-default,
.aggregation .panel-default .panel-heading,
.aggregation .list-group-item {
    font-size: 1rem;
    background-color: inherit;
    border: none;
}

.aggregation .list-group li {
    padding: .3rem .5rem;
    text-indent: 1rem;
}

.aggregation .list-group-item span {
    padding-right: 2px;
    /*border-right:3px solid #666;*/
}

.aggregation .list-group-item ul > li:last-child {
    border-bottom: 1px dashed hsla(0, 30%, 21%, 1);
}

.aggregation .list-group li > a {
    color: hsla(208, 99%, 48%, 1);
    text-transform: uppercase;
}

.aggregation .list-group li > a:hover {
    text-shadow: 1px 1px 1px;
}

.aggregation .list-group-item span .expand {
    cursor: pointer;
}

.aggregation .list-group-item span .expanded {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/********* Result List ************/

/*标签页导航*/
.nav-tabs {
    border-bottom: 1px solid hsla(236, 10%, 25%, 1);
}

.nav-tabs > li > a {
    font-size: 1.5rem;
    color: #eee;
}

.nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
    color: hsla(96, 48%, 47%, 1);
    background-color: hsla(236, 10%, 23%, 1);
    border: 1px solid hsla(236, 10%, 23%, 1);
    border-bottom-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: hsla(96, 48%, 47%, 1);
    background-color: hsla(236, 10%, 25%, 1);
    border: 1px solid hsla(236, 10%, 25%, 1);
    border-bottom-color: transparent;
}

.result-list .no-device {
    display: none;
}

.result-list {
    max-width: 100%;
    margin: 2rem 1rem 0 1rem;
}

.result-list .result {
    max-width: 100%;
    margin: 1rem 1rem 0 1rem;
}

.result-list .result > li {
    list-style: none;
    margin: .8rem 0 0 0;
    overflow: hidden;
    zoom: 1;
}

.result-list .result > li:last-child {
    margin-bottom: 2rem;
}

.result-list .result li:first-child h3 {
    margin-top: 0;
}

.result-list .result h4 {
    font-size: 1.8rem;
    line-height: 1.5em
}

.result-list .result h4:before {
    font-family: iconfont, sans-serif;
    color: #999;
    margin-right: 4px
}

.result-list .result .device h4:before {
    content: "\e60a"
}

.result-list .result .web h4:before {
    content: "\e60c"
}

.result-list .result h4 a {
    color: #fff;
    word-break: break-all
}

.result-list .result h4 a.original {
    display: none
}

.result-list article {
    width: 20%;
    min-width: 12rem;
    color: #aaa9a9;
    float: left;
}

.result-list article.tags {
    margin-right: 1rem;
}

.result-list article.tags span[class*='label'] {
    display: inline-block;
    margin: 2px;
    padding: 6px;
}

.result-list article.tags span[class*='label'] a {
    padding: 6px;
}

.result-list article.tags span a {
    color: #fff;
    font-weight: normal;
}

.result-list article.website {
    margin-bottom: 2rem;
}

.result-list address {
    margin: 0;
    padding: 0
}

.result-list .fingerprint {
    margin-left: 25rem;
}

.result-list .ip > a {
    color: #f5f5f5;
    display: inline-block
}

.result-list hr {
    margin: 10px 0
}

.result-list .domain {
    color: #858585;
    font-size: 1.3rem;
}

.result-list .headers dl {
    display: table-row
}

.result-list .headers dt {
    color: #43b0ee;
    display: table-cell;
    font-weight: 500;
    min-width: 1.5rem;
    padding-right: 1em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5)
}

.result-list .headers dd {
    display: table-cell;
    word-break: break-all;
    word-wrap: break-word
}

.result-list .banner {
    margin-left: 22%;
    padding-left: 5rem;
    position: relative;
    top: 4px
}

.result-list .banner > pre {
    overflow: auto;
}

.result-list .banner > pre > header {
    position: absolute
}

.result-list .banner > pre > header > i, .result-list .banner > pre > header > s {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    height: auto;
    width: 8rem;
    position: absolute;
    padding: 2px 10px;
    right: -10px;
    text-transform: uppercase;
    /*white-space: nowrap;*/
    z-index: 10
}

.result-list .banner > pre > header > i:after, .result-list .banner > pre > header > s:after {
    background: 0;
    border: 6px solid transparent;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -6px;
    position: absolute;
    right: -10px;
    top: 50%;
    width: 0
}

.result-list .banner > pre > header > i:after {
    border-left-color: #e93636
}

.result-list .banner > pre > header > s:after {
    border-left-color: #525252
}

.result-list .banner > pre > header > i {
    background: #e93636;
    font-style: normal;
    top: 2rem;
}

.result-list .banner > pre > header > i > a {
    color: white
}

.result-list .banner > pre > header > s {
    background: #525252;
    text-decoration: none;
    bottom: .5rem;
}

/*.result-list .banner > pre > header > s:nth-child(2) {
    background: #525252;
    text-decoration: none;
    top: 3rem;
}

.result-list .banner > pre > header > s:nth-child(3) {
    background: #525252;
    text-decoration: none;
    top: 5.5rem;
}*/

.result-list .banner > pre > header > s > a {
    color: white
}

.result-list .banner pre {
    /*max 767*/
    background: rgba(0, 0, 0, 0.17);
    border: 0;
    border-radius: 0;
    color: hsla(208, 92%, 68%, 0.8);
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 1.2rem;
    min-height: 8rem;
    padding: 1rem 2rem;
    /*background-clip: content-box;*/
    transition: color .2s, height .2s
}

.result-list .banner pre em {
    background-color: rgba(230, 230, 100, 0.9);
    padding: 0 3px;
    border-radius: 3px;
    font-style: normal
}

.result-list .banner pre.expand {
    position: relative;
    /*height: 6rem;*/
    background: rgba(0, 0, 0, 0.17);
    border-color: #3f404d;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.71);
    cursor: pointer;
    overflow: hidden;
    transition: height .2s ease;
}

.result-list .banner pre.expand.on {
    overflow: visible
}

.result-list .banner pre.expand.on:before {
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.result-list .banner pre.expand:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: .5rem .8rem;
    color: #afafaf;
    content: " ";
    text-align: right;
    text-shadow: 0 0 1px #000;
    background-color: #1d1d1d;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.59) 90%, rgba(0, 0, 0, 0.45) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.29)), color-stop(100%, rgba(0, 0, 0, 0.45)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.29) 90%, rgba(0, 0, 0, 0.45) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.29) 90%, rgba(0, 0, 0, 0.45) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.29) 90%, rgba(0, 0, 0, 0.45) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.29) 90%, rgba(0, 0, 0, 0.45) 100%);
}

.result-list .banner pre.expand:hover:after {
    background: rgba(0, 0, 0, 0.20)
}

.result-list .banner pre.expand:hover:before {
    color: #fff;
    text-shadow: 0 0 .3rem #fff
}

.result-list .banner pre.expand:before {
    z-index: 100000;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1rem;
    width: 2rem;
    text-align: center;
    color: #999;
    content: '\e603';
    font-family: iconfont, sans-serif;
    font-size: 1.2rem;
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transition: transform .2s ease;
    -o-transition: transform .2s ease;
    -webkit-transition: transform .2s ease;
    transition: transform .2s ease;
}

.result-list em {
    background-color: rgba(230, 230, 100, 0.9);
    padding: 0 3px;
    border-radius: 3px;
    font-style: normal
}

.tags {
    display: inline-block;
    margin: 2px 0 0 0;
    padding: 0
}

.first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.result-list .banner > pre > header > i, .result-list .banner > pre > header > s {
    margin-right: 2rem;
}

.result-list section .btn-default {
    color: #eee;
    background: rgba(0, 0, 0, 0.05);
    border: none;
}

.result-list section .btn-default:focus,
.result-list section .btn-default:hover,
.result-list section .btn-default.active,
.result-list section .btn-default:active,
.result-list section .btn-default.active.focus,
.result-list section .btn-default.active:focus,
.result-list section .btn-default.active:hover,
.result-list section .btn-default:active.focus,
.result-list section .btn-default:active:focus,
.result-list section .btn-default:active:hover {
    color: hsla(96, 48%, 47%, 1);
    background-color: rgba(0, 0, 0, .5);
    border: none;
}

.result-list section .btn.active.focus,
.result-list section .btn.active:focus,
.result-list section .btn.focus,
.result-list section .btn:active.focus,
.result-list section .btn:active:focus,
.result-list section .btn:focus {
    outline: none;
}

.pager-wrapper {
    text-align: center;
}

.demo {
    margin: 20px 0;
    background-color: transparent;
}

.customBootstrap .pagination > li > a {
    margin-right: 1px;
    border-radius: 2px;
    background: hsla(223, 16%, 29%, .3);
    color: #eee;
    border-color: hsla(223, 16%, 29%, 0.5);
    padding: 6px 15px
}

.customBootstrap .pagination > li > a:hover, .customBootstrap .pagination > li > a:focus {
    color: #fff;
    /*    background: #fb9400;
        border-color: #fb9400*/
    background: hsla(96, 48%, 47%, 1);
    border-color: hsla(96, 48%, 47%, 1);
}

.customBootstrap .pagination > .active > a,
.customBootstrap .pagination > .active > a:hover,
.customBootstrap .pagination > .active > a:focus {
    color: #fff;
    /*    background: #fb9400;
        border-color: #fb9400*/
    background: hsla(96, 48%, 47%, 1);
    border-color: hsla(96, 48%, 47%, 1);
}

.customBootstrap .pagination .arrow2 {
    margin: 3px 8px 5px 0
}

.customBootstrap .pagination a:hover .arrow2 {
    border-right-color: #fff
}

.customBootstrap .pagination .arrow3 {
    margin: 3px 0 5px 8px
}

.customBootstrap .pagination a:hover .arrow3 {
    border-left-color: #fff
}

.customBootstrap .pagination > .disabled > a,
.customBootstrap .pagination > .disabled > a:focus,
.customBootstrap .pagination > .disabled > a:hover,
.customBootstrap .pagination > .disabled > a:active {
    color: hsla(223, 16%, 29%, 0.8);
    cursor: not-allowed;
    background-color: hsla(0, 39%, 21%, 0.5);
    border-color: hsla(223, 16%, 29%, 0.5);
}

.pagination2 {
    height: 30px;
    margin: 10px 0
}

.pagination2 a {
    text-decoration: none;
    border: solid 1px #c0d3e6;
    color: #333;
    border-left-width: 0;
    height: 24px !important
}

.pagination2 a {
    height: 24px !important;
    display: block;
    float: left;
    padding: 0 10px;
    text-align: center;
    line-height: 24px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
}

.pagination2 .active {
    background-color: #6babdd;
    color: #fff;
    padding: 0 10px;
    border: solid 1px #5c95c1
}

.pagination2 .prev {
    border: solid 1px #c0d3e6
}

.pagination2 .next {
    border-left-width: 0;
    border-right-width: 1px
}

.pagination2 .active.prev, .pagination2 .active.next {
    color: #dcdcdc;
    border-color: #efefef;
    background: #fff
}

.pagination2 a:hover {
    background-color: #cde4f8
}

.pagination2 .active:hover {
    background-color: #6babdd
}

.pagination2 a.disabled {
    display: none
}

.pagination4 .page a, .pagination4 .page a:hover {
    width: 100px;
    text-align: center;
    border: 1px solid #ddd;
    color: #999;
    background-color: #fff !important
}

/*媒体查询*/
@media (max-width: 767px) and (min-width: 480px) {
    .result-list .banner pre {
        margin: 1rem 0 0 2rem;
        min-height: 8rem;
        padding: 1rem auto;
        width: auto
    }

    .result-list .banner > pre > header {
        top: -1rem;
    }

    .result-list .banner > pre > header > s {
        position: relative !important;
        left: 2rem;
        top: 0 !important
    }

    .result-list .banner > pre > header > i {
        position: relative !important;
        left: 1.5rem;
        top: 0 !important
    }

    .result-list .fingerprint {
        margin: 6px 0
    }

    .error-tip {
        text-align: center
    }
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) and (max-width: 991px) {
    .aggregation {
        width: 16rem;
    }

    .result-list {
        margin: 0 1rem 0 18rem;
    }

    .result-list .result {
        margin: 1rem 1rem 0 3rem;
    }

    .result-list .banner > pre > header > i:after, .result-list .banner > pre > header > s:after {
        right: 50%;
        bottom: -5px;
    }

    .result-list .banner > pre > header > i, .result-list .banner > pre > header > s {
        margin-right: 2rem;
    }

    .error-tip {
        text-align: center;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1199px) {
    .aggregation {
        width: 18rem;
    }

    .result-list {
        margin-left: 20rem;
        margin-right: 3rem;
    }

    .result-list .result {
        margin: 1rem 1rem 0 5rem;
    }

    .result-list article {
        width: 29%;
        min-width: 12rem;
    }

    .result-list .banner {
        margin-left: 30%;
    }

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    .aggregation {
        width: 20rem;
    }

    .result-list {
        margin-left: 22rem;
        margin-right: 3rem;
    }

    .result-list .result {
        margin: 1rem 1rem 0 5rem;
    }

    .result-list article {
        width: 29%;
        min-width: 12rem;
    }

    .result-list .banner {
        margin-left: 30%;
    }
}