/* ----------------------- ↓ Footer ---------------------- */
.bgd-light-blue {
    color: #fff;
    background-color: #287bbc !important;
    box-shadow: 1px -2px 3px #eee;
}

footer {
    position: absolute;
    bottom: -1rem;
    text-align: center;
}

footer.navbar-fixed-bottom {
    bottom: -2rem;
    transition: all .6s;
}

footer.navbar-fixed-bottom:hover {
    bottom: 0;
}

footer .dash {
    position: relative;
    top: 2rem;
    margin: 0 auto;
    height: 2px;
    width: 60rem;
    background: url("../img/dot.png");
}

footer .carousel-progress {
    position: relative;
    top: 1.85rem;
    left: -28rem;
    width: 12rem;
    height: 2px;
    margin: 0 auto;
    background: #fff;
}

footer #navbtns {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 60rem;
    text-align: center;
    /*border: 4px solid blue;*/
}

footer .navbtn {
    display: inline-block;
    width: 7rem;
    margin: 0 1rem;
    line-height: 4rem;
    text-align: center;
    color: #eee;
    float: left;
}

footer .navbtn a:hover {
    color: #ffffff;
}

footer .navbtn a:active, footer .navbtn a.active {
    background-color: olive;
}

footer .navbtn div {
    background-color: #1b5480;
    border-radius: 50%;
}