/* ------------------------ ↓ Globe MarkLines Wrapper ---------------------- */
.globe-line-wrapper {
    display: block;
    height: 100%;
    margin: 0 auto;
    background: purple;
}

/* ------------------------  Globe MarkLines Wrapper ↑ ---------------------- */
