/* ------------------------ ↓ Globe MarkLines Wrapper ---------------------- */
.globe-line-wrapper {
    display: block;
    height: 100%;
    margin: 0 auto;
    background: purple;
}
#globe4LineHolder {
    height: 100%;
    width: 100%;
}
/* ------------------------  Globe MarkLines Wrapper ↑ ---------------------- */
