@charset "UTF-8";
.home {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home .home-search {
    display: block;
    position: absolute;
    top: 40%;
    width: 100%;
    margin: 0 auto;
    color: #eee;
}

.home .home-search .form-group {
    display: block;
    width: 50rem;
    height: 3rem;
    padding: 0;
    margin: 5px auto;
}

.home .form-group input.form-control {
    display: block;
    width: 30rem;
}

.home .advs-link-wrapper {
    /*height: 2.7rem;*/
    /*line-height: 2.5rem;*/
    margin: .5rem 7rem;
    text-align: left;
    word-break: break-all;
    /*float: right;*/
}

#main .advs-link-wrapper a:hover {
    color: #287bbc;
}







