/* ------------------------ ↓ List Wrapper ---------------------- */
.list-wrapper {
    display: none;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.8rem;
    height: 100%;
    overflow: auto;
}

.list-wrapper .empty-result-desc-container {
    display: none;
}

.list-wrapper .result-count-duration {
    /*position: fixed;
    top: 0;
    left: 0;
    z-index: 30;*/
}

.list-wrapper .device .tag {
    display: block;
    padding: 3px 0;
    /*height: 3rem;*/
}

.list-wrapper .device .tag span.label-default,
.list-wrapper .device .tag span.label-primary,
.list-wrapper .device .tag span.label-danger {
    display: inline-block;
    float: none;
    clear: both;
}

.list-wrapper .device .tag a {
    color: #eee;
    font-size: inherit;
    font-weight: normal;
}

.list-wrapper .device .right {
    height: 10rem;
    overflow: hidden;
    border-radius: 5px;
    transition: height .5s;
}

.list-wrapper .right h3 {
    font-size: inherit;
}

.list-wrapper .device .right.active {
    height: auto;
    overflow: visible;
    background: hsla(0, 30%, 21%, .1);
    border: 1px solid hsla(0, 30%, 21%, .1);
}

.list-wrapper .device .right button {
    display: none;
    background: hsla(0, 30%, 21%, .3);
    width: 100%;
    text-align: center;
    border: none;
    color: #666;
    cursor: pointer;
}

.list-wrapper .device .right.active button {
    display: block;

}

.list-wrapper .right article pre {
    color: #eee;
    border: none;
    background: hsla(0, 30%, 21%, .1);
    cursor: pointer;
}

.list-wrapper .right.active article pre {
    cursor: auto;
}

/* ------------------------  List Wrapper ↑ ---------------------- */
