/* ------------------------ ↓ Map Wrapper ---------------------- */
.map-wrapper {
    display: block;
    height: 100%;
    margin: 0 auto;
    font-size: 2rem;
    color: #333;
}

.map-wrapper .mapHolder {
    width: 100%;
    height: 100%;
}

#mapSidebar {
    display: none;
    position: absolute;
    width: 1.5rem;
    padding: .5rem;
    top: 5rem;
    right: 1px;
    z-index: 100;
    background-color: #ddd;
    /*color: #333;*/
    -webkit-box-shadow: -3px 3px 3px 3px #b4b4b4;;
    -moz-box-shadow: -3px 3px 3px 3px #b4b4b4;;
    box-shadow: -3px 3px 3px 3px #b4b4b4;;
    border-radius: 0 0 5px 5px;
    /*overflow: auto;*/
    transition: all .6s;
}

#mapSidebar.active {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    width: 20%;
}

#mapSidebar .content {
    padding: 0 2px;
    margin-left: 1rem;
    /*border: 1px solid red;*/
}

#mapSidebar .content ul {
    padding-bottom: 1rem;
}

#mapSidebar .content li {
    padding-top: .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#mapSidebar .content li:last-child {
    border-bottom: none;
}

#mapSidebar .content div {
    padding: 2px;
    margin: 0;
}

#mapSidebar .content div a {
    color: #228DFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#mapSidebar .content div a:hover {
    padding-right: 3em;
    font-size: 2rem;
    color: #ff7f50;
    text-shadow: 0 0 2px #eee;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

#legend-wrapper {
    position: absolute;
    left: 21rem;
    bottom: 0;
    padding: 10px;
    background-color: #ddd;
    font: 14px Segoe UI;
    width: 20%;
    text-align: center;
    border-radius: 10px 0 0 0;
}

#tool-wrapper {
    position: absolute;
    top: 1rem;
    right: 5rem;
    /*padding: 5px;*/
    z-index: 50;
    background-color: #ddd;
    color: #333;
    -webkit-box-shadow: -3px 3px 3px 3px #b4b4b4;;
    -moz-box-shadow: -3px 3px 3px 3px #b4b4b4;;
    box-shadow: -3px 3px 3px 3px #b4b4b4;;
    border-radius: 5px;
    /*overflow: auto;*/
    transition: all .6s;
}

.tool-item,
#homeButton {
    display: inline-block;
    /*border: 2px solid red;*/
    margin: 0;
    float: left;
}

.tool-item span,
.HomeButton .home {
    padding: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgba(102, 102, 102, 0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.tool-item span {
    padding-top: 5px;
    margin: 1px;
}

.tool-item span:hover {
    background-color: #aaa;
}

/* pagination--*/

.pager-wrapper {
    text-align: center;
}

.demo {
    margin: 20px 0;
    background-color: transparent;
}

.customBootstrap .pagination > li > a {
    margin-right: 1px;
    border-radius: 2px;
    background: hsla(223, 16%, 29%, .3);
    color: #eee;
    border-color: hsla(223, 16%, 29%, 0.5);
    padding: 6px 15px
}

.customBootstrap .pagination > li > a:hover, .customBootstrap .pagination > li > a:focus {
    color: #fff;
    /*    background: #fb9400;
        border-color: #fb9400*/
    background: hsla(96, 48%, 47%, 1);
    border-color: hsla(96, 48%, 47%, 1);
}

.customBootstrap .pagination > .active > a,
.customBootstrap .pagination > .active > a:hover,
.customBootstrap .pagination > .active > a:focus {
    color: #fff;
    /*    background: #fb9400;
        border-color: #fb9400*/
    background: hsla(96, 48%, 47%, 1);
    border-color: hsla(96, 48%, 47%, 1);
}

.customBootstrap .pagination .arrow2 {
    margin: 3px 8px 5px 0
}

.customBootstrap .pagination a:hover .arrow2 {
    border-right-color: #fff
}

.customBootstrap .pagination .arrow3 {
    margin: 3px 0 5px 8px
}

.customBootstrap .pagination a:hover .arrow3 {
    border-left-color: #fff
}

.customBootstrap .pagination > .disabled > a,
.customBootstrap .pagination > .disabled > a:focus,
.customBootstrap .pagination > .disabled > a:hover,
.customBootstrap .pagination > .disabled > a:active {
    color: hsla(223, 16%, 29%, 0.8);
    cursor: not-allowed;
    background-color: hsla(0, 39%, 21%, 0.5);
    border-color: hsla(223, 16%, 29%, 0.5);
}

.pagination2 {
    height: 30px;
    margin: 10px 0
}

.pagination2 a {
    text-decoration: none;
    border: solid 1px #c0d3e6;
    color: #333;
    border-left-width: 0;
    height: 24px !important
}

.pagination2 a {
    height: 24px !important;
    display: block;
    float: left;
    padding: 0 10px;
    text-align: center;
    line-height: 24px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
}

.pagination2 .active {
    background-color: #6babdd;
    color: #fff;
    padding: 0 10px;
    border: solid 1px #5c95c1
}

.pagination2 .prev {
    border: solid 1px #c0d3e6
}

.pagination2 .next {
    border-left-width: 0;
    border-right-width: 1px
}

.pagination2 .active.prev, .pagination2 .active.next {
    color: #dcdcdc;
    border-color: #efefef;
    background: #fff
}

.pagination2 a:hover {
    background-color: #cde4f8
}

.pagination2 .active:hover {
    background-color: #6babdd
}

.pagination2 a.disabled {
    display: none
}

.pagination4 .page a, .pagination4 .page a:hover {
    width: 100px;
    text-align: center;
    border: 1px solid #ddd;
    color: #999;
    background-color: #fff !important
}

/*popup related esriViewPopup*/
.esriViewPopup td {
    color: #333;
    /*background: #333;*/
}

/*------------sidebar wrapper-----------------*/
/*
.menu-wrap a {
    color: #b8b7ad;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
    color: #c94e50;
}

.content-wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.content {
    position: relative;
    background: #b4bad2;
}

.content::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    transition: opacity 0.4s, transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

*//* Menu Button *//*
.menu-button {
    position: fixed;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
}

.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
    content: '';
}

.menu-button:hover {
    opacity: 0.6;
}

*//* Close Button *//*
.close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #bdc3c7;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

*//* Menu *//*
.menu-wrap {
    position: absolute;
    z-index: 1001;
    width: 300px;
    height: 100%;
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    -webkit-transform: translate3d(-320px, 0, 0);
    transform: translate3d(-320px, 0, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.menu,
.icon-list {
    height: 100%;
}

.icon-list {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.icon-list a {
    display: block;
    padding: 0.8em;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
}

.icon-list,
.icon-list a {
    -webkit-transition: -webkit-transform 0s 0.4s;
    transition: transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.icon-list a:nth-child(2) {
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
}

.icon-list a:nth-child(3) {
    -webkit-transform: translate3d(0, 1500px, 0);
    transform: translate3d(0, 1500px, 0);
}

.icon-list a:nth-child(4) {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
}

.icon-list a:nth-child(5) {
    -webkit-transform: translate3d(0, 2500px, 0);
    transform: translate3d(0, 2500px, 0);
}

.icon-list a:nth-child(6) {
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
}

.icon-list a span {
    margin-left: 10px;
    font-weight: 700;
}

*//* Shown menu *//*
.show-menu .menu-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-menu .icon-list a {
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
}

.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}*/

/* ------------------------  Map Wrapper ↑ ---------------------- */
/*分页*/
.pagination4 .page a, .pagination4 .page a:hover {
    width: 100px;
    text-align: center;
    border: 1px solid #ddd;
    color: #999;
    background-color: #fff !important
}

pre code {
    background-color: transparent
}

.customBootstrap .pagination > li > a {
    margin-right: 5px;
    border-radius: 2px;
    background: #fff;
    color: #333;
    border-color: #ccc;
    padding: 6px 15px
}

.customBootstrap .pagination > li > a:hover, .customBootstrap .pagination > li > a:focus {
    color: #fff;
    background: #fb9400;
    border-color: #fb9400
}

.customBootstrap .pagination > .active > a, .customBootstrap .pagination > .active > a:hover, .customBootstrap .pagination > .active > a:focus {
    color: #fff;
    background: #fb9400;
    border-color: #fb9400
}

.customBootstrap .pagination .arrow2 {
    margin: 3px 8px 5px 0
}

.customBootstrap .pagination a:hover .arrow2 {
    border-right-color: #fff
}

.customBootstrap .pagination .arrow3 {
    margin: 3px 0 5px 8px
}

.customBootstrap .pagination a:hover .arrow3 {
    border-left-color: #fff
}