/* ------------------------ ↓ Map Wrapper ---------------------- */
.map-wrapper {
    display: block;
    height: 100%;
    margin: 0 auto;
    font-size: 2rem;
}

/*leaflet*/
.map-wrapper .mapHolder {
    width: 100%;
    height: 100%;
}

/*arcgis js api*/

/* ------------------------  Map Wrapper ↑ ---------------------- */
