/* ------------------------ ↓ Map Wrapper ---------------------- */
.map-wrapper {
    display: block;
    height: 100%;
    margin: 0 auto;
    background: darkslategray;
    font-size: 2rem;
}

.map-wrapper .result-count-duration {
    display: none;
}

.map-wrapper .pivot-bar-container {
    display: none;
}

/*leaflet*/
.map-wrapper .map-container {
    width: 100%;
    height: 100%;
    border:3px solid deeppink;
}

/*arcgis js api*/

/* ------------------------  Map Wrapper ↑ ---------------------- */
