@charset "UTF-8";
/* Colors
 * --------------------------------------- */
.orange {
    color: #f27f02;
}

/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    color: #f27f02;
    text-decoration: none;
}

a:hover {
    color: #f27f02;
    text-decoration: underline;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

h1 {
    font-size: 4rem;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS (General)
 * --------------------------------------- */
body {
    font-family: arial, helvetica, simsun, sans-serif;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.fl {
    /*float left*/
    float: left;
    display: inline;
}

.fr {
    /*float right*/
    float: right;
    display: inline;
}

/* Fixed header and footer.
* --------------------------------------- */
.header, .footer {
    position: fixed;
    height: 4.6rem;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: .3rem 0 0 0;
    border: none;
    box-sizing: border-box;
}

.header {
    top: 0px;
}

.footer {
    bottom: 0px;
}

/* Style for header texts
  * --------------------------------------- */
.header h1 {
    line-height: 4rem;
    font-weight: normal;
    font-family: "microsoft yahei", Verdana, Tahoma, Helvetica, Arial, sans-serif;
    color: #fff;
    border: none;
}

.header .nav li a {
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    color: #ccc;
    box-sizing: content-box;
}

.header .nav li:last-child a {
    font-size: 1.8rem;
}

.header .nav li a.current, .header .nav li a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    border-bottom: 3px solid #f27f02;
    color: #eee;
}

.header .navbar-brand {
    font-size: 3.6rem;
    color: #ccc;
}

/* Style for sections
* --------------------------------------- */
.section {
    text-align: center;
}

.section .intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #fff;
}

/* Style for slides
  * --------------------------------------- */
.fp-slidesNav .tooltip {
    white-space: nowrap;
}

.fp-slidesNav.bottom {
    bottom: 2rem;
}

/* Style for footer texts
  * --------------------------------------- */
.footer {
    height: 2.6rem;
    padding: .4rem 10rem 0 10rem;
    color: #ccc;
    /*border-top: 5px solid #eee;*/
}