@charset "UTF-8";
/* Colors
 * --------------------------------------- */
.orange {
    color: #f27f02;
}

/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    color: #f27f02;
    text-decoration: none;
}

a:hover {
    color: #f27f02;
    text-decoration: underline;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

h1 {
    font-size: 4rem;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS (General)
 * --------------------------------------- */
body {
    font-family: arial, helvetica, simsun, sans-serif;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.fl {
    /*float left*/
    float: left;
    display: inline;
}

.fr {
    /*float right*/
    float: right;
    display: inline;
}

/* Fixed header and footer.
* --------------------------------------- */
.header, .footer {
    position: fixed;
    height: 4.6rem;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: .3rem 0 0 0;
    border: none;
    box-sizing: border-box;
}

.header {
    top: 0px;
}

.footer {
    bottom: 0px;
}

/* Style for header texts
  * --------------------------------------- */
.header h1 {
    line-height: 4rem;
    font-weight: normal;
    font-family: "microsoft yahei", Verdana, Tahoma, Helvetica, Arial, sans-serif;
    color: #fff;
    border: none;
}

.header .nav {
    padding-bottom: 3px;
}

.header .nav li {
    box-sizing: border-box;
}

.header .nav li a {
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    color: #ccc;
}

.header .nav li a.current, .header .nav li a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    border-bottom: 3px solid #f27f02;
    color: #fff;
}

.header .navbar-brand {
    font-size: 3.6rem;
    color: #ccc;
}

#logout {
    display: none;
}

/* Style for global form
* --------------------------------------- */

.global-search-wrapper {
    display: none;
    position: absolute;
    top: 4.6rem;
    left: 0;
    /*background-color: #444;*/
    width: 100%;
    height: 3.2rem;
    padding-left: .5rem;
    text-align: left;
}

.global-search-form {
    display: inline-block;
    padding: .2rem;
    width: 66%;
    color: hsla(236, 10%, 27%, 1);
    box-sizing: content-box;
    /*border: 1px solid green;*/
}

.global-search-wrapper .global-search-form fieldset {
    display: inline-block;
    width: 80%;
    width: calc(100% - 10rem);
}

.global-search-wrapper .global-search-form .search-scope {
    /*备用，用于用户选择搜索范围，目前暂未使用（参考LinkedIn）*/
    display: none;
    float: left;
    /*z-index: 10005;*/
}

.global-search-wrapper .global-search-form .search-box-container {
    border-radius: 0 2px 2px 0;
    float: left;
    width: 40rem; /* fallback for browsers without support for calc() */
    width: calc(100% - 5rem);
}

.global-search-wrapper .global-search-form .global-search-input {
    width: 100%;
    border-radius: 4px;
    padding-left: .5rem;
    line-height: 2.5rem;
    border: 1px solid green;
}

/*advanced search link*/
.global-search-wrapper .advs-link-wrapper {
    display: inline-block;
    height: 2.7rem;
    width: 8rem;
    line-height: 2.5rem;
    margin: 0 5px;
    word-break: break-all;
    float: right;
}

.global-search-wrapper .advs-link-wrapper a {
    font-size: 1.6rem;
}

.global-search-wrapper .advs-link-wrapper a:hover {
    color: #287bbc;
}

.global-search-wrapper .global-search-form .global-search-button {
    display: inline-block;
    margin: 0 2px;
    padding: 0 3px;
    height: 2.6rem;
    line-height: 2.5rem;
    width: 4rem;
    font-weight: bold;
    color: #fff;
    /*background-color: #287bbc;
    border: 1px solid #1b5480;
    border-radius: 5px;*/
    cursor: pointer;
    overflow: hidden;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
     background-image: -webkit-linear-gradient(top, #287bbc 0%, #23639a 100%);
     background-image: -moz-linear-gradient(top, #287bbc 0%, #23639a 100%);
     background-image: -o-linear-gradient(top, #287bbc 0%, #23639a 100%);
     background-image: linear-gradient(top, #287bbc 0%, #23639a 100%);*/
    white-space: nowrap;
    box-sizing: border-box;
    float: left;
}

/* Style for sections
* --------------------------------------- */
.section {
    text-align: center;
    background: no-repeat top center fixed linear-gradient(#3f4657, #452525)
}

.section .intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #fff;
}

.section iframe {
    height: 100%;
    width: 100%;
}

/*home section*/
.section .home-search .home-search-form {
    display: inline-block;
    position: relative;
    height: 7rem;
    min-width: 30rem;
    width: 50%;
    line-height: 3rem;
    padding-bottom: 4rem;
    margin: 0 auto;
}

.section .home-search .input-group {
    min-width: 20rem;
    width: 90%;
    width: calc(100% - 6rem);
}

.section .home-search .advs-link-wrapper {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
}

#home_search_btn {
    z-index: 1001;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/*search list section */

/*user section*/
.section[data-anchor="se_user"] {
    background: url("../img/login_bg.jpg") no-repeat center;
}

#fp-nav .fp-tooltip {
    filter: alpha(opacity=50);
    opacity: .5;
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #333;
    border-radius: 4px;
}

/* Style for slides
  * --------------------------------------- */
.fp-slidesNav .tooltip {
    white-space: nowrap;
}

.fp-slidesNav.bottom {
    bottom: 2rem;
}

/* Style for footer texts
  * --------------------------------------- */
.footer {
    height: 2.6rem;
    padding: .4rem 10rem 0 10rem;
    color: #ccc;
    /*border-top: 5px solid #eee;*/
}