@charset "UTF-8";
/* ------------------------------ ↓typeahead --------------------- */
.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 40rem;
    margin-top: .5rem;
    padding: .5rem;
    text-align: left;
    color: #eee;
    background: no-repeat top center fixed linear-gradient(hsla(223, 16%, 29%, 1), hsla(0, 30%, 21%, 1));
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    overflow-y: auto;
}

.tt-suggestion {
    padding: 0 2px;
    font-size: 1.5rem;
    /*color: #333;*/
    line-height: 2rem;
}

.tt-suggestion.tt-cursor {
    color: #333;
    background-color: #287bbc;
    cursor: pointer;
    border-radius: 5px;
}

.tt-highlight {
    font-weight: bolder;
    color: #cd5c5c;
}