@charset "UTF-8";
form, ul, ol, dl, dd, p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    border: none;
    vertical-align: middle;
}

button, input, select, textarea {
    font-size: 1em;
    margin: 0;
    font-family: tahoma, arial, simsun, sans-serif;
    color: #484848;
    border-radius: 2px;
}

input[type="reset"] {
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    color: #fff;
    font-size: 120%;
    border: none;
    background-color: #f27f02;
    border-radius: 5px;
}

a {
    color: #f27f02;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

del {
    color: #686868;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*for font & text & tag =================================== */
.red {
    color: red !important;
}

.gray {
    color: #686868 !important;
}

.hasDefaultText {
    color: #999;
}

.orange {
    color: #f60 !important;
}

.green {
    color: #79a605 !important;
}

.blue {
    color: #0057b0 !important;
}

b {
    font-weight: normal;
    display: inline-block;
    margin: 0 8px;
    color: #f27f02;
}

/*for margin & padding | width & height =================== */
.mb10 {
    margin-bottom: 10px;
}

.mb18 {
    margin-bottom: 18px;
}

.mb22 {
    margin-bottom: 22px;
}

.mt10 {
    margin-top: 10px;
}

.mr20 {
    margin-right: 20px;
}

.p10 {
    padding: 10px;
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.wraper {
    background-color: #fff;
    color: #424242;
    padding: 2rem;
    line-height: 2rem;
    text-align: left;
}

.wraper h3,
.wraper h2 {
    color: #212222;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.6rem;
    margin-bottom: 2em;
    font-family: "microsoft yahei", Verdana, Tahoma, Helvetica, Arial, sans-serif;
}

.wraper h3 span,
.wraper h2 span {
    color: #888;
}

.wraper pre {
    border: none;
}

.wraper > div:last-child {
    padding-left: .5rem;
    font-size: 120%;
    font-weight: bold;
}

.lireset2 {
    padding-left: 10px;
}

.form {
    font-size: 1.2rem;
}

.form .need {
    width: 10px;
    color: #b20202;
}

.form td {
    padding: 5px 0;
    vertical-align: top;
    text-align: left;
}

.form .inputxt, .form textarea {
    border: 1px solid #a5aeb6;
    width: 20rem;
    padding: 4px 2px;
}

.form textarea {
    height: 75px;
}

.form label {
    margin: 0 15px 0 4px;
    font-size: 100%;
}

.form .tip {
    line-height: 20px;
    color: #5f6a72;
}

.form select {
    width: 202px;
}

.formalter select {
    width: 124px;
}

.swfupload {
    vertical-align: top;
}

.passwordStrength {

}

.passwordStrength b {
    font-weight: normal;
}

.passwordStrength b, .passwordStrength span {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    line-height: 18px \9;
    height: 16px;
}

.passwordStrength span {
    width: 45px;
    text-align: center;
    background-color: #d0d0d0;
    border-right: 1px solid #fff;
}

.passwordStrength .last {
    border-right: none;
}

.passwordStrength .bgStrength {
    color: #fff;
    background-color: #71b83d;
}

.form li {
    /*padding-bottom: 20px;*/
}

.Validform_checktip {
    margin-left: 10px;
}

.form .label {
    display: inline-block;
    width: 70px;
    color: #424242;
}

.form .action {
    padding-left: 20rem;
}

.form .need {
    width: 10px;
    color: #b20202;
}

/*fullpage.js 目前只支持input的type为text类型，这里做一下特殊处理，天大的bug呀*/
.form-reset {
    border: none;
    border-radius: 5px;
}

.form-submit {
    color: #fff;
    font-size: 120%;
    border: none;
    background-color: #f27f02;
    border-radius: 5px;
}