@charset "UTF-8";
form, ul, ol, dl, dd, p {
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
    font-size: 1em;
    margin: 0;
    font-family: tahoma, arial, simsun, sans-serif;
    color: #484848;
    border-radius: 2px;
}

input[type="reset"] {
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 3px 8px;
    color: #fff;
    border: none;
    background-color: #f27f02;
    border-radius: 4px;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

del {
    color: #686868;
}

/*for font & text & tag =================================== */
.red {
    color: red !important;
}

.gray {
    color: #686868 !important;
}

.hasDefaultText {
    color: #999;
}

.orange {
    color: #f60 !important;
}

.green {
    color: #79a605 !important;
}

.blue {
    color: #0057b0 !important;
}

b {
    font-weight: normal;
    display: inline-block;
    margin: 0 8px;
    color: #f27f02;
}

/*for margin & padding | width & height =================== */
.mb10 {
    margin-bottom: 10px;
}

.mb18 {
    margin-bottom: 18px;
}

.mb22 {
    margin-bottom: 22px;
}

.mt10 {
    margin-top: 10px;
}

.mr20 {
    margin-right: 20px;
}

.p10 {
    padding: 10px;
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.tipmsg {
    font-size: 100%;
    padding: 0 10px;
    margin-bottom: 2rem;
}

.wraper {
    display: inline-block;
    min-width: 50%;
    margin: 0 auto;
    padding: 3rem;
    background-color: rgba(255, 255, 255, .8);
    color: #424242;
    line-height: 2rem;
    text-align: left;
    border-radius: 4px;
}

.wraper a {
    color: #f27f02;
    text-decoration: none;
    font-size: 1.5rem;
}

.wraper a:hover {
    text-decoration: underline;
}

.wraper h3,
.wraper h2 {
    color: #888;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.6rem;
    margin-bottom: 2em;
    font-family: "microsoft yahei", Verdana, Tahoma, Helvetica, Arial, sans-serif;
}

.wraper pre {
    border: none;
    background: transparent;
}

.lireset2 {
    padding-left: 10px;
}

.form {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form .need {
    width: 10px;
    color: #b20202;
}

.form td {
    padding: 5px 0;
    vertical-align: top;
    text-align: left;
}

.form .inputxt, .form textarea {
    border: 1px solid #a5aeb6;
    width: 20rem;
    padding: 4px 2px;
}

.form textarea {
    height: 75px;
}

.form label {
    margin: 0 1rem 0 .4rem;
    font-size: 100%;
}

.form .tip {
    line-height: 20px;
    color: #5f6a72;
}

.form select {
    width: 202px;
}

.formalter select {
    width: 124px;
}

.swfupload {
    vertical-align: top;
}

.passwordStrength {

}

.passwordStrength b {
    font-weight: normal;
}

.passwordStrength b, .passwordStrength span {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    line-height: 18px \9;
    height: 16px;
}

.passwordStrength span {
    width: 45px;
    text-align: center;
    background-color: #d0d0d0;
    border-right: 1px solid #fff;
}

.passwordStrength .last {
    border-right: none;
}

.passwordStrength .bgStrength {
    color: #fff;
    background-color: #71b83d;
}

.form li {
    padding-bottom: 1rem;
}

.Validform_checktip {
    margin-left: 10px;
}

.form .label {
    display: inline-block;
    width: 7rem;
    color: #424242;
}

.form .action {
    padding-left: 8.5rem;
}

.wraper > div:last-child {
    padding-left: .5rem;
    /*font-size: 120%;*/
    font-weight: bold;
}

.toTop {
    /*display: block;*/
    width: 48px;
    height: 49px;
    overflow: hidden;
    text-indent: -20000px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: none;
    background: url(../img/totop.png) no-repeat;
    _position: absolute;
    _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-20);
}

.forward-link {
    margin-left: 1rem;
}